/* ----------------------------------------------------------------------
Untuk Tablet
----------------------------------------------------------------------
*/

@media all and (max-width: 1000px) {
 
/* 
----------------------------------------------------------------------
Bagian kak aissetiabudi
----------------------------------------------------------------------
*/

  .header-text {
    font-size: 30%;
  }
  .clear {
    clear: left;
  }

/* 
----------------------------------------------------------------------
Bagian kak Yanu
----------------------------------------------------------------------
*/

	.kolom {
        padding: 0 10px 0px 10px;
        margin: 0 auto;
        text-align: center;
    }
    .left h1 {
        color: #f9ad81;
        font-size: 35px;
        padding-top: 22px;
    }
    
    .left h2 {
        color: #999999;
        font-size: 14px;
    }

    .image-top {
        max-width: 100%;
        height: auto;
    }
	
/* 
----------------------------------------------------------------------
Bagian Andis
----------------------------------------------------------------------
*/

	.produks {
		flex-wrap: wrap;
	}
	.produk {
		width: 50%;
	}
	        
}

/* ----------------------------------------------------------------------
Untuk Smartphone 
----------------------------------------------------------------------
*/

@media all and (max-width: 670px) {

/* 
----------------------------------------------------------------------
Bagian kak Aissetiabudi
----------------------------------------------------------------------
*/

  .header-text {
    font-size: 15%;
  }
  .clear {
    clear: right;
  }
  .header-logo {
    float: left;
    width: 30%;
    height: 30%;
    margin: 5px;
    padding-left: 20px;
  }

/* 
----------------------------------------------------------------------
Bagian kak Yanu
----------------------------------------------------------------------
*/
    .top {
        text-align: center;
        margin: auto;
    }

    .kolom {
        width: 100%;
        padding: 0 15px 0px 15px;
    }
    
    .left h1 {
        color: #f9ad81;
        font-size: 24px;
    }
    
    .left h2 {
        color: #999999;
        font-size: 14px;
    }

    .image-top {
        max-width: 100%;
        height: auto;
    }
    
/* 
----------------------------------------------------------------------
Bagian Andis
----------------------------------------------------------------------
*/

	.produks {
		flex-direction: column;
	}
	.produk {
		margin: 0 auto;
	}
}
